body
  padding-bottom: 100px

#readymade
  // Overrides default styles here!
  .readymade-home-page-content
    text-align: center

    .readymade-project-summary
      margin: 1rem 0

  font-size: 14px
  line-height: 1.45em

  .stack-of-pages
    max-width: 1040px

  .drawing-controls
    display: none

  .readymade-subject-viewer-container
    flex: 4

  .readymade-decision-tree-container
    flex: 3

  button[name="decision-tree-go-back"]
    display: none

  .readymade-choice-image img
    max-width: 100px

  .wave-container
    background-image: url(./images/wave-2.png)
    background-size: cover
    height: 600px
    position: relative

    .overlay
      position: absolute
      width: 80%
      bottom: 0
      background: #333
      color: white
      padding: 15px
      height: 200px

    h2
      margin: 1rem 0 0 0

  .row
    clearfix()

    > .column
      width: 50%
      float: left

      img
        margin: 20px 50px
        max-height: 250px
        max-width: 100%

